<form [formGroup]="test">
  <app-form-field class="w-64 pt-4 ml-4">
    <textarea twInput formControlName="gender" type="text" name="username" placeholder="  "></textarea>
    <tw-label>Username</tw-label>
    <div tw-hint>Tw Hint</div>
  </app-form-field>
</form>
<button tw-button>Button</button>
<button tw-button color="primary">Button</button>
<button tw-button color="accent">Button</button>
<button tw-button color="warn">Button</button>
<button tw-button disabled=true>Button</button>
<br>
<button tw-flatButton>Button</button>
<button tw-flatButton color="primary">Button</button>
<button tw-flatButton color="accent">Button</button>
<button tw-flatButton color="warn">Button</button>
<button tw-flatButton disabled=true>Button</button>
<br>
<button tw-strokedButton>Button</button>
<button tw-strokedButton color="primary">Button</button>
<button tw-strokedButton color="accent">Button</button>
<button tw-strokedButton color="warn">Button</button>
<button tw-strokedButton disabled=true>Button</button>
<br>
<button tw-raisedButton>Button</button>
<button tw-raisedButton color="primary">Button</button>
<button tw-raisedButton color="accent">Button</button>
<button tw-raisedButton color="warn">Button</button>
<button tw-raisedButton disabled=true>Button</button>