<form [formGroup]="test">
<app-form-field class="w-64 ml-4 pt-4">
  <textarea twInput formControlName="gender" type="text" name="username" placeholder="  "></textarea>
  <tw-label>Username</tw-label>
  <div tw-hint>Tw Hint</div>
</app-form-field>
</form>
<button twButton>Button</button>
<button twButton color="primary">Button</button>
<button twButton color="accent">Button</button>
<button twButton color="warn">Button</button>
<button twButton disabled=true>Button</button>
<br>
<button twFlatButton>Button</button>
<button twFlatButton color="primary">Button</button>
<button twFlatButton color="accent">Button</button>
<button twFlatButton color="warn">Button</button>
<button twFlatButton disabled=true>Button</button>
<br>
<button twStrokedButton>Button</button>
<button twStrokedButton color="primary">Button</button>
<button twStrokedButton color="accent">Button</button>
<button twStrokedButton color="warn">Button</button>
<button twStrokedButton disabled=true>Button</button>
<br>
<button twRaisedButton>Button</button>
<button twRaisedButton color="primary">Button</button>
<button twRaisedButton color="accent">Button</button>
<button twRaisedButton color="warn">Button</button>
<button twRaisedButton disabled=true>Button</button>
