tw-form-field {
  &.tw-input-error {
    input:focus-within ~ label,
    label {
      @apply text-red-500;
    }
    textarea:focus-within ~ label {
      @apply text-red-500;
    }
    div {
      @apply border-red-500;
    }
  }

  display: block;
  @apply mt-4;

  input:focus-within ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
  }

  input:focus-within ~ label {
    @apply text-blue-500;
  }

  textarea:focus-within ~ label,
  textarea:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
  }

  textarea:focus-within ~ label {
    @apply text-blue-500;
  }

  [tw-hint] {
    @apply text-gray-500 text-xs;
  }
}
