.tw-button {
  @apply hover:bg-gray-100;
  &.tw-button-disabled {
    @apply text-gray-400 bg-opacity-0;
  }
  &.primary {
    @apply text-blue-500 hover:bg-blue-100;
  }

  &.accent {
    @apply text-pink-500 hover:bg-pink-100;
  }
  &.warn {
    @apply text-red-500 hover:bg-red-100;
  }
}
.tw-flatButton {
  &.tw-button-disabled {
    @apply text-gray-400 bg-gray-100;
  }
  &.primary {
    @apply text-white bg-blue-500;
  }

  &.accent {
    @apply text-white bg-pink-500;
  }
  &.warn {
    @apply text-white bg-red-500;
  }
}

.tw-strokedButton {
  @apply border hover:bg-gray-100;
  &.tw-button-disabled {
    @apply text-gray-400 bg-opacity-0;
  }
  &.primary {
    @apply text-blue-500  hover:bg-gray-100;
  }

  &.accent {
    @apply text-pink-500 hover:bg-pink-100;
  }
  &.warn {
    @apply text-red-500 hover:bg-red-100;
  }
}
.tw-raisedButton {
  @apply shadow-md hover:bg-gray-100;
  &.tw-button-disabled {
    @apply text-gray-400 bg-gray-100;
  }
  &.primary {
    @apply text-white bg-blue-500;
  }
  &.accent {
    @apply text-white bg-pink-500;
  }
  &.warn {
    @apply text-white bg-red-500;
  }
}
